* {

    box-sizing: border-box;

    margin: 0;

    padding: 0;

  }

  

  

  .container {

    color: #333;

    text-align: center;

  }

  

  h1 {

    font-weight: normal;

  }

  

  li {

    display: inline-block;

    font-size: 1.5em;

    list-style-type: none;

    padding: 1em;

    text-transform: uppercase;

  }

  

  li span {

    display: block;

    font-size: 3rem;

  }
